<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
   <!-- <link rel="icon" href="../../favicon.ico">-->

    <title>Editar usuario</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/style.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="../static/jquery.mycart-master/js/bootstrap.min.js"></script>
    <script src="../static/jquery.mycart-master/js/jquery-2.2.3.min.js"></script>
    <script src="../static/jquery.mycart-master/js/jquery.mycart.js"></script>
    
    
    <script type="text/javascript" src="httpGet.js"></script> 

    <script>
      var urlUserLog = "http://kelpa-api.herokuapp.com/user";
      var usuarioLog = JSON.parse(sessionStorage.getItem('usuarioLogeado'));
      //Necesario para parsear el json
      var jsonUserLog = JSON.parse(httpGet(urlUserLog));
    </script>



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            
            <div class="collapse navbar-collapse" id="myNavbar">
                <div class="navbar-header">
                    <a class="navbar-brand" href="bienvenidaConectado.html"><img src="../static/logo.jpg" width="55px" /></a>
                  </div>
                  <form class="navbar-form navbar-left" action="/action_page.php">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                      </div>
                      <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </form>
                    <form class="navbar-form navbar-left" method="get" action="crearAnuncio.html">
                    
                          <button type="submit" class="btn btn-success">Subir producto</button>
                      </form>
              <ul class="nav navbar-nav navbar-right" id="in_line" >
                  
                      <div class="dropdown"> 
                              <a data-toggle="dropdown" style="color:rgb(0, 0, 0);" >
                                  <span style="color:white;font-weight:bold" >Pedrito</span>
                              <img src="icono.jpg" class='img-circle' height="42" width="42"  > </img>
                                  <ul class="dropdown-menu">
                                      <li><a href="chat.html">Mensajes <span class="glyphicon glyphicon-envelope"></span> <span class="badge">10</span></li>
                                     <li><a href="#">Mi carrito  <span class="glyphicon glyphicon-shopping-cart my-cart-icon"></span> <span class="badge">10</span></li>
                                     <li><a href="perfil_vendedor.html">Mi perfil <span class="glyphicon glyphicon-user"></span></a></li>
                                   <li><a href="#">Configuracion <span class="glyphicon glyphicon-cog"></span></a></li>
                                    <li><a href="index.html">Desconectarse <span class="glyphicon glyphicon-off"></span></a></li>
                                    
                                 </ul>
                          </div>
                      </a>
                      
                  
                      </div>
                      
              </ul>
            </div>
          </div>
      </nav>

      <div class="container">      
        <div class="card bg-light">
          
          <form>
            <script>
              document.write('<img id="avatar" src='+jsonUserLog.avatar+ 'class="rounded" height="200" width="250">');
            </script>
              
              <label class="btn btn-default btn-file">
                  Cambiar imagen <input type="file" style="display: none;">
              </label>


          <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Cambiar nombre: <i class="fa fa-user"></i> </span>
             </div>
             <script>
               document.write('<input id="nick" name=""value='+jsonUserLog.first_name +'class="form-control" placeholder="Pedrito" type="text">');
             </script>
                
            </div> <!-- form-group// -->

            <div class="form-group input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text">Cambiar apellido: <i class="fa fa-user"></i> </span>
               </div>
                  <script>
                    document.write('<input id="last_name" name="" class="form-control"  value='+jsonUserLog.last_name+ 'placeholder="Jose" type="text">');
                  </script>
                  
              </div> 

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Cambiar fecha de nacimiento: <i class="fa fa-user"></i> </span>
                     </div>
                        <script>
                          document.write('<input id="fnac" name="" class="form-control"  type="date" value='+jsonUserLog.fnac+'>');
                        </script>
                        
                    </div> 
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Cambiar correo <i class="fa fa-envelope"></i> </span>
             </div>
                <script>
                  document.write('<input id="mail" name="" class="form-control" placeholder="Pedrito@hotmail.com" type="email" value='+jsonUserLog.mail+'>');
                </script>
                
            </div> <!-- form-group// -->

            <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Cambiar ubicacion <i class="fa fa-envelope"></i> </span>
               </div>
                  <script>
                    document.write('<input id="place" name="" class="form-control" placeholder="mi casa" type="text" value='+jsonUserLog.place+'>');
                  </script>
                  
              </div> <!-- form-group// -->
            
            <div>
                <span id="phone" class="input-group-text">Cambiar numero: <i class="fa fa-phone"></i> </span>
                <script>
                  document.write('<input id="phone" name="" class="form-control" placeholder="Phone number" type="tel" value='+jsonUserLog.phone+'>');
                </script>
            <br/>
            </div> <!-- form-group// -->
            
            <script>
              function modificar(){
                var params={
                  "id": jsonUserLog.id,
                  "nick": jsonUserLog.nick,
                  "first_name": document.getElementById('nick').value,
                  "last_name": document.getElementById('last_name').value,
                  "mail": document.getElementById('mail').value,
                  "phone": document.getElementById('phone').value,
                  "desc": jsonUserLog.desc,
                  "is_mod": jsonUserLog.is_mod,
                  "ban_reason": jsonUserLog.ban_reason,
                  "points": jsonUserLog.points,
                  "avatar": document.getElementById('avatar').src,
                  "fnac": document.getElementById('fnac'),
                  "dni": jsonUserLog.dni,
                  "place": document.getElementById('place'),value,
                  "token": jsonUserLog.token
                };
                var urlUser = "http://kelpa-api.herokuapp.com/user"
                put(urlUser,params,function(){
                  alert("Usuario modificado correctamente");
                }, function(){
                  alert("No se pudo modificar el usuario");
                });
              }
            </script>
                                      
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" onclick="modificar()">Guardar cambios  </button>
            </div> <!-- form-group// -->      
                                                  
        </form>
        </article>
        </div> <!-- card.// -->
        
        </div> 
        <script>
var urlObtenerCartel = "http://kelpa-api.herokuapp.com/profile/borja"
  //Necesario para parsear el json
      var jsonCartel = JSON.parse(httpGet(urlObtenerCartel));
  //Darle una id al campo que obtienes para mostrarla en html 
      document.getElementById("descripcion").innerHTML = jsonCartel.place;
</script>
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="../static/dist/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../static/assets/js/ie10-viewport-bug-workaround.js"></script>

     
        
  </body> 
</html>