<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico">-->

    <title>Menu</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/style.css" rel="stylesheet">

    <script type="text/javascript" src="httpGet.js"></script> 

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" style="display: none" id="no_reg_var">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><img src="../static/logo.jpg" width="55px" /></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <form  method="get" class="navbar-form navbar-left" action="busquedaTexto.html">
            <div class="form-group">
              <input name="texto" type="text" class="form-control" placeholder="Buscar">
            </div>
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
          </form>


          <ul class="nav navbar-nav navbar-right">
            <li><a href="#Login" data-toggle="modal" role="button"><span
                  class="glyphicon glyphicon-log-in"></span>Conectarse</a></li>

            <li><a href="#Registro" data-toggle="modal" role="button"><span 
                class="glyphicon glyphicon-user"></span>Registrarse</a></li>
          </ul>

          <!-- Modal / Ventana / Overlay en HTML -->

        </div>
      </div>
    </nav>

    <nav class="navbar navbar-inverse navbar-fixed-top" style="display: none" id="reg_var">
        <div class="container">
          
          <div class="collapse navbar-collapse" id="myNavbar">
              <div class="navbar-header">
                  <a class="navbar-brand" href="index.html"><img  src="/static/logo.jpg" width="55px" /></a>
                </div>
                <form method="get" class="navbar-form navbar-left" action="busquedaTexto.html">
                   <form  method="get" class="navbar-form navbar-left" action="busquedaTexto.html">
            <div class="form-group">
              <input name="texto" type="text" class="form-control" placeholder="Buscar">
            </div>
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
          </form>
                  <form class="navbar-form navbar-left" method="get" action="crearAnuncio.html">
                        <button type="submit" class="btn btn-success">Subir producto</button>
                    </form>
            <ul class="nav navbar-nav navbar-right" id="in_line" >
                
                    <div class="dropdown"> 
                            <a data-toggle="dropdown" style="color:rgb(0, 0, 0);" >
                                <span style="color:white;font-weight:bold" id="nom" >Pedrito</span>
                            <img id="icono"  class='img-circle' height="42" width="42"  > </img>
                                <ul class="dropdown-menu">
                                    <li><a href="chat.html">Mensajes <span class="glyphicon glyphicon-envelope"></span> <span class="badge">10</span></li>
                                   <li><a href="miCarrito.html">Mi carrito  <span class="glyphicon glyphicon-shopping-cart my-cart-icon"></span> <span class="badge">10</span></li>
                                   <li><a  id='usuario' href="perfil_vendedor.html">Mi perfil <span class="glyphicon glyphicon-user"></span></a></li>
                                 <li><a href="editarUsuario.html">Editar perfil <span class="glyphicon glyphicon-cog"></span></a></li>
                                  <li><a href="index.html" onclick="logout()">Desconectarse <span class="glyphicon glyphicon-off"></span></a></li>
                                  <script>
                                    function logout(){
                                      sessionStorage.removeItem("usuarioLogeado");
                                      var usrLogOut = "http://kelpa-api.herokuapp.com/logout";
                                          getCORS(urlUserLog,function(data){ });
                                    }
                                  </script>
                                  
                               </ul>
                        </div>
                    </a>
                    
                
                    </div>
                    
            </ul>
          </div>
        </div>
    </nav>
    <script>
      if(sessionStorage.getItem('usuarioLogeado') == null){
        document.getElementById("no_reg_var").style.display='block';
        document.getElementById("reg_var").style.display='none';
      }else{
        var usuarioLog = JSON.parse(sessionStorage.getItem('usuarioLogeado'));
        document.getElementById("icono").src = usuarioLog.avatar ;
        document.getElementById("nom").innerHTML = usuarioLog.nick ;
        document.getElementById("usuario").href =  "perfil_vendedor.html?nick=" + usuarioLog.nick ;
        document.getElementById("reg_var").style.display='block';
        document.getElementById("no_reg_var").style.display='none';
      }
      
    </script>