<!DOCTYPE html>
<html lang="en">
        <head>
          <script type="text/javascript" src="httpGet.js"></script>       
           <script >
             var url="http://kelpa-api.herokuapp.com/login"
             var params = {
               nick : "Aa",
               pass : "aaaaaa",
               remember : true
             }
            
        
 
           </script>     
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
           <script>

             function conectar(theUrl){
              $.ajax({
            type: 'get',
            url:   theUrl,      
            crossDomain: true,
            xhrFields: {
                withCredentials: true
             },
            headers:{    
               'Accept': 'application/json',
              'Content-Type': 'application/json',
              'Access-Control-Allow-Origin': '*' 
            },
            success: function (data) {
               console.log("Exito en la operacion 2");
               //data devuelve JSON luego lo parseas
               console.log(data);
            }

        });

             }

          function postLOL(url,params) {
           $.ajax({
            type: 'post',
            url: url,
            crossDomain: true,
            xhrFields: {
            withCredentials: true
          },
            headers:{    
               'Accept': 'application/json',
              'Access-Control-Allow-Origin': '*' ,
              'Content-Type': 'application/json'
              },
            data: JSON.stringify(params),          
            success: function (data) {
               console.log("Exito en la operacionn");
               
               conectar("http://kelpa-api.herokuapp.com/user");
              
            }


        });
          }


        


            
           
          </script> 
            </head>
            <body>
                
            </body>
</html>
